@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@ViewBag.testMessage</p>

<p>Howdy !! I am new here </p>
<p> </p>
<p>Use this area to provide additional information.</p>

<p>this is added now</p>

<p>
    @System.Web.Configuration.WebConfigurationManager.AppSettings["EnvDetermination"]
</p>

<p>
    @ViewBag.connString
</p>
